@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 95vh;
    background-image: url(../../dist/images/418977.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: 768px) {
        background-image: url(../../dist/images/hero_tablet.jpg);
        padding-top: calc(50vw + 25px);
        min-height: 60vw;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;

        .button {
            padding: 8px 18px;
            font-size: 24px;
        }
    }
    
    &__content {
        max-width: 640px;

        h1 {
            font-family: variaveis.$fonteTheWitcher;
            margin: 16px 0;
            color: #fff;
        }

        .button {
            background-color: variaveis.$corDoBotaoPrincipal;
            color: variaveis.$corBranco;
            font-family: variaveis.$fonteTheWitcher;
            margin-top: 16px;

            &:hover {
                background-color: lighten(variaveis.$corDoBotaoPrincipal, 3%);
            }
        }
    }
}