@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 95vh;
    background-image: url(../../dist/images/418977.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    &__content {
        max-width: 640px;

        h1 {
            font-family: variaveis.$fonteTheWitcher;
            margin: 16px 0;
            color: #fff;
        }

        .button {
            background-color: variaveis.$corDoBotaoPrincipal;
            color: variaveis.$corBranco;
            font-family: variaveis.$fonteTheWitcher;
            margin-top: 16px;

            &:hover {
                background-color: lighten(variaveis.$corDoBotaoPrincipal, 3%);
            }
        }
    }
}