$corDoBotaoPrincipal: #430105;
$corDoBotaoEmBreve: #88F1E6;
$corDeFundo: #010101;
$corBranco: #fff;
$corDoFooter: #cacaca;

$fontePrincipal: 'Roboto', sans-serif;
$fonteSecundaria: 'Bebas Neue', sans-serif;
$fonteTheWitcher: 'TheWitcher', sans-serif;